.searchbar-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 0.5rem;
  gap:10px;
  position: relative;
  overflow: visible; 
}


.searchbar-section {
  padding: 0.5rem 1.2rem;
  border-right: 1px solid #e5e5e5;
  flex: 1;
   position: relative;
  z-index: 1; 
    display: flex;
  align-items: center;
  gap: 15px;
}
.searchbar-date{
  display: flex;
  flex-direction: column;
}
.searchbar-destination {
  flex: 1.3;
}

.searchbar-section:last-of-type {
  border-right: none;
}

.searchbar-icon {
  font-size: 20px;
  color: #222;
}

.searchbar-clear {
  font-size: .9rem;
  color: #555;
  cursor: pointer;
  transition: 0.2s;
}
.searchbar-clear:hover {
  color: red;
}

.searchbar-field {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.searchbar-label {
  font-size: 0.85rem;
  color: #000;
  font-weight: bold;
  margin-bottom: 5px;
  white-space: nowrap;
}
.searchbar-date strong{
color: #555;
font-weight: normal;
font-size: 12px;
}

.searchbar-input {
  border: none;
  outline: none;
  background: transparent;
  font-size: 12px;
  color:#555;
  overflow: hidden;
  width: 100px;
}
.searchbar-button {
  background-color: var(--darkblue);
  color: white;
  font-weight: 550;
  border: none;
  padding: 1rem 2rem;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
  position: relative;   
  z-index: 10000;      
}

.searchbar-button:hover {
  background-color: var(--darkblue);
}

.guest-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.counter {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.counter button {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  border: 1px solid #0070f3;
  background: none;
  color: #0070f3;
  font-size: 1rem;
  cursor: pointer;
}

.counter input {
  width: 32px;
  text-align: center;
  border: none;
  background: transparent;
  font-weight: 600;
  font-size: 1rem;
}

.divider {
  border: none;
  border-top: 1px solid #eee;
  margin: 1rem 0;
}

.pet-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1.2rem;
}

.pet-row p {
  margin: 0;
  font-size: 0.8rem;
  color: #666;
}

.modal-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reset-btn {
  background: none;
  border: none;
  color: #666;
  font-weight: 600;
  cursor: pointer;
}

.apply-btn {
  background-color: #0070f3;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 0.6rem 1.2rem;
  font-weight: 600;
  cursor: pointer;
}

.apply-btn:hover {
  background-color: #005ad3;
}



.guest-modal {
  position: absolute;
  top: 110%;
  right: 0;
  background: white;
  border-radius: 16px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.15);
  padding: 1rem 1.5rem;
  width: 320px;
  z-index: 9999;
  pointer-events: auto; 
}

@media only screen and (max-width: 1024px) {
 
.searchbar-container {
  width: 100%;
  flex-direction: column;
  margin: 0 auto;     
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 0.5rem;
}

.searchbar-section {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0.75rem 1.2rem;
  border-bottom: 1px solid #e5e5e5;
  width: 100%;
  border-radius: 5px;
}
.searchbar-section:nth-child(3) {
border: none;
}
.searchbar-section:nth-child(2) {
border-right: none;
}
.searchbar-section:nth-child(1) {
border-right: none;
}
.searchbar-input {
  max-width: 900px;
  width: 100%;
  box-sizing: border-box;
}
.searchbar-date{
width: 100%;
}

.searchbar-icon {
  font-size: 18px;
}
.searchbar-button {
width: 100%;
border-radius: 10px;
padding: 0.7rem 2rem;
}
.searchbar-field {
 gap: 0px;
}


}