.hotelDetailsRight {
  display: flex;
  flex-direction: column;
  width: 30%;
  background-color: #f2f2f2;
  border-radius: 10px;
 box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}
.hotelPrice {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  background-color: #fff;
  padding: 20px;

  border-radius: 10px;

}
.hotelPrice > p {
font-weight: bold;
}
.hotelPrice div > span {
  font-size: 12px;
  font-weight: normal;
}
.hotelPrice div {
  font-size: 19px;
    font-weight: bold;
}
.bookingScheduleItem > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  border: 2px solid #f2f2f2;
  padding: 15px;
  border-radius: 20px;
}

.bookingSchedule {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  background-color: #fff;
margin-top: 5px;
  border-radius: 10px;
}
.bookingScheduleItem > p {
  color: grey;
  font-size: 500;
}
.bookingScheduleItem {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 13px;
  position: relative;
}
.reserveHotel-btn {
  background-color: var(--darkblue);
  padding: 15px;
  border-radius: 20px;
  color: #fff;
  width: 100%;
  margin-top: 0px;
  border: none;
  cursor: pointer;
  font-weight: bold;
}
.reserveHotel-btn:hover {
  background: #011248;
}
.search-input {
  border: none;
  outline: none;
  font-weight: 500;
}
.label-name {
  color: #555;
  font-weight: 600;
}
.button-style {
  background-color: var(--darkblue);
  color: #fff;
  border: none;
  border-radius: 6px;
  padding: 5px 10px;
  cursor: pointer;
}
.date-modal {
  position: absolute;
  top: 100%;
  left: -150%;
  z-index: 20;
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;
}
.guest-modal {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 20;
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  width: 300px;
  gap: 10px;
}
.optionCounterButton {
  width: 30px;
  height: 30px;
  border: 1px solid var(--darkblue);
  color: var(--darkblue);
  cursor: pointer;
  background-color: white;
  border-radius: 5px;
}
.optionCounterButton:disabled {
  cursor: not-allowed;
}
.optionItem {
  padding: 10px;
  width: 30px;
  height: 30px;
  border: none;
}
.guest-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: left;
  width: 100%;
  padding: 0px 20px;
}
.guest-row > span {
  font-weight: bold;
}

.counter {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.apply-btn {
  background-color: var(--darkblue);
  color: #fff;
  border: none;
  border-radius: 6px;
  padding:10px;
  cursor: pointer;
  font-weight: bold;
}
.cancel-btn {
  background: transparent;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding:10px;
  cursor: pointer;
}
.btn-cover {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  margin-top: 10px;
  padding: 0px 20px;
}

.hr-line{
  border: 0.5px solid #f2f2f2;
  margin: 10px;
  width: 100%;
}
.pet-row{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
   padding: 0px 20px;
}
.pet-row label{
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.pet-checkbox{
  width: 20px;
  height: 20px;
  
}
.pet-row p{
  font-size: 12px;
  color: #555;
}
@media (max-width: 1024px) {
.hotelDetailsRight {
  width: 100%;
  margin-top: 30px;
  border-radius: 0px;
  
}

}
