.header {
  display: flex;
  background: #fff;
  font-family: "Poppins", sans-serif;
  padding: 20px 0 30px 0;
}

.header-cover {
  border-top: 5px solid #c7d0c5;
}

.container {
  max-width: 124rem;
  padding: 0 1.5rem;
  margin: 0 auto;
}

.nav-cover {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.logonew {
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
  font-weight: 550;
  color: #0f1035;
  letter-spacing: -0.5px;
  display: inline-flex;
  align-items: center;
}

.dot {
  width: 10px;
  height: 10px;
  background-color: #00ADEF;
  border-radius: 50%;
  display: inline-block;
  margin: 0 4px;
}


.nav-desktop {
  display: flex;
  gap: 36px;
}

.nav-link {
  position: relative;
  color: #1c1c1c;
  text-decoration: none;
  font-size: 0.9rem;
  transition: all 0.3s ease;
  font-weight: 500;
}

.nav-link:hover {
  color: #555;
}

.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  height: 1px;
  width: 100%;
  background-color: #1c1c1c;
}

.search-desktop {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 20px;
}

.search-input {
  display: flex;
  align-items: center;
  background-color: #f5f5f5;
  border-radius: 20px;
  padding: 5px 10px;
}

.search-input input {
  border: none;
  background-color: transparent;
  width: 100px;
  color: #000;
  font-size: 12px;
  padding: 10px;
  outline: none;
}

.Search-icon {
  background-color: #fff;
  border-radius: 20px;
  padding: 5px;
  font-size: 25px;
}

.Book-now {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: var(--darkblue);
  color: #fff;
  white-space: nowrap;
  padding: 8px 10px;
  border-radius: 20px;
  text-decoration: none;
  font-size: 12px;
  transition: all 0.3s ease;
}

.link-icon {
  background-color: #fff;
  border-radius: 20px;
  color: #000;
  padding: 5px;
  font-size: 24px;
}


.menu-btn {
  display: none;
  font-size: 1.8rem;
  background: none;
  border: none;
  color: var(--darkblue);
  cursor: pointer;
  z-index: 1001;
}

.mobile-nav {
  position: fixed;
  top: 0;
  right: -100%;
  width: 75%;
  max-width: 350px;
  height: 100vh;
  background: #fff;
  display: flex;
  flex-direction: column;
  padding: 4rem 2rem;
  gap: 2rem;
  overflow-y: auto;
  transition: right 0.4s ease;
  z-index: 1000;
}

.mobile-nav.show {
  right: 0;
}

.mobile-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-bottom: 1rem;

}

.mobile-section:last-child {
  border-bottom: none;
}

.mobile-section-title {
  font-weight: 700;
  font-size: 1rem;
  color: #222;
  margin-bottom: 0.5rem;
}

.mobile-link {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  font-size: 0.8rem;
  color: #333;
  text-decoration: none;
  font-weight: 400;
  transition: color 0.3s ease;
}

.mobile-link svg {
  font-size: 1.2rem;
}

.mobile-link:hover {
  color: var(--darkblue);
}


.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 999;
}


@media (max-width: 1024px) {
  .nav-desktop,
  .search-desktop {
    display: none;
  }

  .menu-btn {
    display: block;
  }
}

@media (max-width: 480px) {
.container {
padding: 0rem 1rem;
}
}