
.card-container {
  flex: 0 0 320px;             
  background: #fff;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  overflow: hidden;
  transition: transform 0.3s ease;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 400px;            
}


.card-container:hover {
  transform: translateY(-5px);
}

.image-section {
  position: relative;
  width: 100%;
  height: 100px;
  flex-shrink: 0; 
}

.card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.favorite-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: rgba(255,255,255,0.8);
  border: none;
  border-radius: 50%;
  padding: 6px;
  cursor: pointer;
  color: #ff4d4d;
}

.rating-badge {
  position: absolute;
  top: 10px;
  left: 10px;
  background: rgba(15,16,53,0.9);
  color: #fff;
  border-radius: 1rem;
  padding: 2px 8px;
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  gap: 3px;
}

.star-icon {
  color: #ffb400;
}

.card-body {
  padding: 1rem;
  flex: 1; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-title {
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 0.3rem;
  color: #000;
}
.card-wrapper {
  display: flex;
  flex-wrap: nowrap;            
  gap: 20px;
  overflow-x: auto;             
  scroll-behavior: smooth;     
  padding-bottom: 10px;     
    scrollbar-width: none; 
  -ms-overflow-style: none; 
}
.card-wrapper::-webkit-scrollbar {
  height: 8px; 
}
.card-wrapper::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.card-wrapper::-webkit-scrollbar {
  display: none; 
}
.location {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #666;
  font-size: 0.8rem;
}
.location-icon{
  font-size: 16px;
  color: #000;
}
.price-row {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 0.9rem;
}

.old-price {
  text-decoration: line-through;
  color: #999;
}

.new-price {
  color: #0f1035;
  font-weight: bold;
}

.total {
  color: #555;
}

.details-row {
  display: flex;
  justify-content: space-between;
  font-size: 0.85rem;
  color: #444;
  border-top: 1px solid #eee;
  padding-top: 0.6rem;
}
.details-row li{
      display: flex;
      align-items: center;
      gap: 5px;
}
.new-price > span{
font-size: 0.7rem;
font-weight: 300;
}
@media (max-width: 768px) {
.card-title {
  font-size: .9rem;
  font-weight: 500;
  margin-bottom: 0rem;
}
.card-body {
  padding: 0rem;
  flex: 1; 
  gap: 10px;
  padding-left: .5rem;
  padding-top: .5rem;
  margin-bottom: 10px;
}
.location {
font-size: 0.63rem;
font-weight: 400;
color: #000;
}
.details-row {
  flex-direction: column;
  font-size: 0.8rem;
  border-top: none;
  padding-top: 0rem;
}
.card-container {
  flex: 0 0 250px;             
  min-height: 300px;            
}
.image-section {

  height: 150px;

}

}

@media (max-width: 480px) {
 .container {
  padding: 0rem 1rem;

}
.image-section {
  height: 120px;

}




}