.Country_Data_Header {
  display: flex;
  flex-direction: column;
  gap: 30px;
   margin-bottom: 20px;
}
.Country_Data_Header-top-most p {
  font-size: 12px;
}
.Country_Data_Header-top-most p:nth-child(3) {
  padding: 0 10px;
  color: #000;
}
.Country_Data_Header-top-most p:nth-child(1) {
  text-decoration: underline;
  color: #000;
}
.Country_Data_Header-top-most p:nth-child(2) {
  padding: 0 10px;
}
.Country_Data_Header-bottom-most > p{
  font-size: 14px;
  color:#555;
  margin-top: 5px;
}
.Country_Data_Header-top-most {
  display: flex;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #4d5167;
}
.container {
  max-width: 124rem;
  padding: 0rem 1.5rem;
  margin: 0 auto;
}
.Country_Data_Section {
  margin-top: 10px;
  width: 100%;
}

.Country_Data_image {
  display: flex;
  gap: 10px;
  width: 100%;
}
.first-image-countryData {
  object-fit: cover;
  object-position: center;
  width: 50%;
  padding-right: 1px;
}
.first-image-countryData > img {
  width: 100%;
  height: 100%;
}
.cover-fetched-imageData {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1px; 
  width: 50%;
}

.cover-image-countryData {
  position: relative;
  height: 220px;    
  max-width: 350px; 
  width: 100%;
  overflow: hidden;

}

.image-countryData {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}


.moreOverlay {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background: rgba(0,0,0,0.6);
  color: #fff;
  padding: 6px 12px;
  font-size: 18px;
  border-radius: 4px;
  font-weight: bold;
}

.text-countryData div:nth-child(1) {
  font-weight: bold;
  font-size: 14px;
}
.text-countryData {
  width: 80%;
  margin-top: 20px;
  margin-bottom: 20px;
}
.text-p-countryData {
  margin: 10px;
  text-align: justify;
  line-height: 19px;
  font-size: 14px;
}
.popular-country_Data {
  margin-top: 40px;
}
.popular-country_Data h1 {
  font-size: 18px;
  font-weight: 550;
  margin-bottom: 20px;
}
.cities_Country-Data {
  display: flex;
  gap: 20px;
  margin-top: 10px;
}
.Data-card {
  border-radius: 10px;
  overflow: hidden;
  max-width: 300px;
  width: 100%;
  max-height: 500px;
  height: 100%;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  color: #000;
}
.Data-card-top-image {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 120px;
}
.Data-card_text{
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.Data-card-main-text{
  display: flex;
  flex-direction: column;
  color: #000;
  font-weight: 400;
  font-size: 16px;
}

.Data-card-bottom {
  margin-top: 10px;
  margin-bottom: 10px;
}
.desc-countryData {
  font-size: 14px;
  text-align: left;
   display: -webkit-box;
  -webkit-line-clamp: 3; 
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.visit-Country-Data {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.visit-Country-Data > big {
  background-color: #f2f2f2;
  padding: 10px;
  font-size: 15px;
  width: 100%;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}
.hotel-options > div {
  display: flex;
  font-size: 12px;
}
.hotel-options {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 10px;
    padding-left: 10px;
  padding-bottom: 20px;
}
.pricePerNight {
  display: flex;
  align-items: center;
  gap: 10px;

}
.pricePerNight > p{
font-weight: bold;
font-size: 20px;
}
.span-yes-country-Data {
  font-weight: 600;
}
.amenityListItem-country {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  margin: 10px;
}
.popular-places {
  width: 100%;
}
.popular-places h2 {
  margin-top: 20px;
  font-weight: 550;
  font-size: 18px;
  margin-bottom: 20px;

}
.popular-card {
  display: flex;
  gap: 20px;
  margin-right: 50px;
}
.popular-id {
  height: 400px;
  width: 350px;
  border: 1px solid #f2f2f2;
  overflow: hidden;
  border-radius: 10px;
  padding-bottom: 100px;
}
.popular-image {
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
}
.popular-image img {
  height: 200px;
  width: 100%;
  margin-bottom: 10px;
}
.popular-body-text {
  padding: 20px;
  margin-bottom: 0px;
  white-space: normal;
  text-overflow: ellipsis;
}
.popular-body-text h4 {
  margin-bottom: 10px;
}
.popular-about {
  font-size: 12px;
  text-align: justify;
  white-space: normal;
  text-overflow: ellipsis;
}
.explore-city {
  margin-left: 20px;
  margin-top: 20px;
  gap: 20px;
  display: flex;
}
.buttonExplore {
  border: 1px solid #dfe0e4;
  height: 38px;
  width: 180px;
  font-size: 18px;
  background-color: white;
  border-radius: 50px;
  color: #1668e3;
  font-weight: 500;
  cursor: pointer;
}
.errorMessage {
  text-align: left;
color: #1e90ff;
  font-weight: 500;

  font-style: italic;
  font-size: 14px;
  width: fit-content;

}
.HomeStayCard-cover{
  margin-top: 3rem;
  margin-bottom:3.2rem;
}
.HomeStayCard-cover h1{
  font-size: 18px;
  font-weight: 550;
  margin-bottom: 20px;
}
.HomeStayCard{
  width: 100%;

}


.desktop-view {
  display: flex;
  width: 100%;

}

.mobile-carousel {
  display: none;
}


@media (max-width: 1024px) {
  .desktop-view {
    display: none !important;
  }

  .mobile-carousel {
    position: relative;
    display: block;
    width: 100%;
    height: 300px;
    overflow: hidden;
  }
.Country_Data_Header {
 margin-bottom: 10px;
}
  .carousel-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
   
  }
.text-countryData {
  width: 100%;
  
}
  .arrow-left,
  .arrow-right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: #eeebe7;
  opacity: 0.9;
    color: #555;
    border: none;
    padding: 5px 14px;
    font-size: 24px;
    cursor: pointer;
    z-index: 10;
  }

  .arrow-left {
    left: 10px;
  }

  .arrow-right {
    right: 10px;
  }

  .image-counter {
    position: absolute;
    bottom: 12px;
    right: 12px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 4px 10px;
    border-radius: 20px;
    font-size: 14px;
  }
}

@media (max-width: 480px) {
 .container {
  padding: 0rem 1rem;

}
.popular-places h2 {
  margin-top:0px;
  margin-bottom: 10px;

}
.HomeStayCard-cover{
  margin-top: 1rem;
  margin-bottom:1rem;
}
.popular-card {
  margin-right: 0px;
}
.popular-image img {
  height: 150px;
  margin-bottom: 0px;
}
.popular-body-text {
  padding: 10px;
}
.popular-body-text h4 {
  margin-bottom: 0px;
}
.explore-city {
  margin-left: 10px;
  margin-top: 20px;
  padding-right: 10px;
  flex-direction: column;
}
.buttonExplore {
  width: 100%;
 
}

}