.cover-HomeCard{
    display: grid;
  grid-template-columns: repeat(auto-fit, minmax(9.4rem, 1fr));
  grid-gap: 0.6rem;
  margin-top: 2rem;


}
.CountryCard{
 position: relative;
}
.card_cover {
  max-width: 150px;
  width: 100%;
  height: 210px;
 
}
.card_img_wrapper {
  position: relative;
  width: 100%;
  height: 100%; /* Your responsive height */
}
.card_img {
  border-radius: 0px;
  object-position: center;
  object-fit: cover;
  
}
.card_title {
  margin: 1.2rem 1rem;
  position: absolute;

  bottom: 0;
  color: white;
}


.errorMessage {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-style: italic;
  margin-top: 2rem;
    color: #1e90ff;
  font-weight: 500;
  font-size: 14px;

}

@media only screen and (max-width: 1024px) {
.cover-HomeCard{
  margin-top: 1rem;
    padding-top: 10px;
}

}