.breadcrumbs {
  display: flex;
  align-items: center;
  font-size: 12px;
  color: #444;
  margin-bottom: 10px;
  background-color: #f7f8f9;
  padding: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  gap: 5px;
}


.icon {
  flex-shrink: 0;
  padding: 0 10px;
  font-size: 12px;
  color: grey;
}


.breadcrumbs p:last-child {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
@media (max-width: 768px) {
 .icon {
  padding: 0 0px;
}
}
